.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.input__search {
  width: 30vh;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
}
.input__search:focus-visible {
  outline: 2px solid wheat;
}
